[Unit]
Description=BHS Waybill Gunicorn Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=${APP_PATH}
ExecStart=${VENV_PATH}/bin/gunicorn --workers ${WORKERS} --threads ${THREADS} --bind 127.0.0.1:${PORT} --timeout ${TIMEOUT} app:app
Restart=always
StandardOutput=append:${LOG_DIR}/gunicorn.log
StandardError=append:${LOG_DIR}/gunicorn_error.log

[Install]
WantedBy=multi-user.target
